  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');

  html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #5E17EB;
    padding: 15px 0;

}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.navbar .logo a span {
    color: #5E17EB;
}

.navbar.sticky a span {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #5E17EB;
}

.navbar.sticky .menu li a:hover {
    color: black;
}

/* Home - Inicio */

.home {
    display: flex;
    background: url(imagens/background.png) no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px; 
}

.home .home-content .text-2 {
    font-size: 75px; 
    font-weight: 500;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 30px;
    margin: 5px 0; 
}

.home .home-content .text-3 span {
    color: #5E17EB;
    font-weight: 500;
}
.home .home-content a {
    display: inline-block;
    background: #5E17EB;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid #5E17EB;
}
.home .home-content a:hover {
    color: #5E17EB;
    background: none;
}

/* Menu - mobile */

.menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}



/* Sessão - Todos os códigos similares */
section {
    padding: 100px 0;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

section .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding: 20px;
    position: relative;
}

section .title::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #5E17EB;
    padding: 5px;
    transform: translateX(-50%);
}

/* Sessão - Sobre mim (about) */

.about, .skills, .project, footer {
    font-family: 'Roboto', sans-serif;
    }
.about .about-content,
.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .title::after {
    content: "Quem sou eu";
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span {
    color: #5E17EB;
}
.about .about-content .right p {
    text-align: justify;
}
.about .about-content .right a {
    display: inline-block;
    background: #5E17EB;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #5E17EB;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover {
    color: #5E17EB;
    background: none;
}
.about .about-content .left img {
    
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
   
}


/* Sessão - Habilidades */

.skills {
    font-family: 'Roboto', sans-serif;
    background: #111;
    color: #fff;
}
.skills .title::before {
    background: #fff;
}
.skills .title::after {
    background: #111;
    content: "Tecnologias";
}
.skills .skills-content .card {
    width: calc(33% - 20%);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.skills .skills-content .card:hover {
    background: #5E17EB;
}
.skills .skills-content .card .box {
    transition: all 0.3s ease;
}
.skills .skills-content .card:hover .box {
    transform: scale(1.05);
}
.skills .skills-content .card ion-icon {
    font-size: 70px;
    color: #5E17EB;
}
.skills .skills-content .card:hover ion-icon {
    color: #fff;
}

.skills .skills-content .card .text {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Sessão - Projetos */

.project .title::after {
    content: "destaques";
}
.project .carousel .card {
    color: #000000;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.project .carousel .card:hover {
    background: #5E17EB;
    color: #fff;
}
.project .carousel .card img{
    width: 285px;
    height: 7%; 
    object-fit: cover;
    border-radius: 4%;
    border: 5px solid;
    border-color: 5px solid #5E17EB;
    transition: all 0.3s ease;
}
.project .carousel .card img{
    border-color: #fff;
}
.project .carousel .card:hover .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.project .carousel .card:hover .box{
    transform: scale(1.05); 
}
.project .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    width: 14px;
    height: 14px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #5E17EB!important;
    transition: all 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active,
.owl-dot:hover {
    background: #5E17EB!important;
}


#visualizar_button {
    border: none;
    background: #fff;
    color: #5E17EB;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    
}

#visualizar_button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}


/* Sessão - footer (rodapé) */
footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a {
    color: #5E17EB;
    text-decoration: none;
}
footer span a:hover { 
    text-decoration: underline;
}

/* Botão - Whatsapp */
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background: #5E17EB;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px; #888
    z-index: 1000;
}
.fa-whatsapp {
    margin-top: 16px;
}


/* Responsivo */

@media (max-width: 1104px) {
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 991px) {
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3 ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;  
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column {
        width: 50%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .skills .skills-content .card {
        width: calc(50% - 10%);
        margin-bottom: 20px;
    }
}
@media (max-width: 690px) {
    .home .home-content .text-2 {
        font-size: 60px;   
    }
    .home .home-content .text-3 {
        font-size: 32px;  
    }
    .home .home-content a {
        font-size: 20px;
    }
    .skills .skills-content .card {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px; 
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
}